.apartment-listing {
	padding: 30px;
	display: block;
}
.apartment-listing-thumbail {
	display: inline-block;
	margin-bottom: 20px;
	height: 300px;
	position: relative;
}

.spacer {
	height: 30px;
}

.apartment-details {
	position: absolute;
	background: #222;
	color: white;
	opacity: .7;
	height: 60px;
	width: 160px;
	top: 125px;
	line-height: 1.3em;
	padding: 10px;
	
}
// settings for adding bootstrap angular pagination
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }