<div class="single-apartment">
	
	<h1>{{aptInfo.title}}</h1>

	<div class="single-view-panel col-md-6 col-sm-12">
		<img ng-src="{{aptInfo.thumbnail}}" class="img-responsive col-md-12 col-sm-12 col-xs-12 thumbnail">
		<div class="spacer"></div>
		<h3>{{aptInfo.price}}</h3>	
		
	</div>

	<h3><a ng-href="">{{aptInfo.street}} <br>{{aptInfo.city}} {{aptInfo.region}} {{aptInfo.zipcode}}</a></h3>

	<h4>Contact: {{aptInfo.contact}}</h4>
	<div class="">
		<p>{{aptInfo.description}}</p>	
	</div>	

	<h4 ng-click="showFeatures = (!showFeatures)">Features</h4>
	<div ng-show="showFeatures">
		<ul>
			<li ng-repeat="feature in aptInfo.features">{{feature}}</li>
		</ul>
	</div>


	<h4 ng-click="showSpecial = (!showSpecial)">Special Features</h4>
	<ul ng-show="showSpecial">
		<li ng-repeat="feature in aptInfo.specialFeatures">{{feature}}</li>
	</ul>
	
	<h4 ng-click="showCommunity = (!showCommunity)">Community Features</h4>
	<ul ng-show="showCommunity">
		<li ng-repeat="commFeature in aptInfo.communityFeatures">{{commFeature}}</li>
	</ul>

	<h4 ng-click="showAmenities = (!showAmenities)">Amenities</h4>
	<ul ng-show="showAmenities">
		<li ng-repeat="amenity in aptInfo.amenities track by $index">{{amenity}}</li>
	</ul>

	
	
	<span class="hidden">{{aptInfo.detailedFloorplans}}</span>

</div>

