body {
  font-family: 'Lato', sans-serif;
  background-color: rgba(245, 245, 245, 1);
}

.navbar-inverse {
  border-radius: 0;
}
.behind-map {
  background-color: #5A5A5A;
  position: absolute;
  height:540px;
  width:100%;
  left: 0;
  top: 50px;
  color: white;
  box-shadow: 0 2px 2px gray;
}

.behind-map p {
  padding: 20px;
  font-size: 1.4em;
}

.apartment-listing {
	display: block;
  width: 100%;
  padding: 0;
  position: relative;
}

.apartment-listing img {
  width: 100%;
  max-height: 400px;
}

.apartment-listing h1 {
  color: white;
  text-decoration: none;
  position: absolute;
  font-size:10em;
  left: 5%;
  bottom: 10%;
  display: inline-block;
}

div.apartment-tiles {
  margin-top: 540px;
}

.angular-google-map-container { height: 400px; }

.apartment-listing-thumbail {
	display: inline-block;
	margin-bottom: 20px;
	height: 300px;
	position: relative;
}

.apartment-listing-thumbnail h4 {
  font-size: 1.7em;
  height: 2em;
}

img.apartment-listing-thumbnail {
	width: 100%;
}

.spacer {
	height: 30px;
}

.apartment-details {
	position: absolute;
	background: #222;
	color: white;
	font-size: 1.4em;
	opacity: .7;
	height: 25%;
	width: 60%;
	top: 40%;
	line-height: 1.5em;
	padding: 10px;
	
}
.apartment-details a {
	text-decoration: none;
}

.single-view-panel {
	float: right;
	margin-right: 0;
	text-align: right;
}

.single-apartment {
	min-height: 600px;
}

.pin-thumbnail {
	max-height: 170px;
	padding: 10px;
	margin: 0 auto;
}


/* settings for adding bootstrap angular pagination */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

@media (max-width: 1200px) {
  .apartment-details {
    font-size: 1.2em;
    width: 75%;
  }
}

@media (max-width: 768px) {
	.apartment-details {
		top: 55%;
		line-height: 1.6em;
		font-size: 24px;
		height: 20%;
	}

	.single-view-panel {
		float: none;
	}

  .apartment-listing h1 {
    font-size: 8em;
  }
}

@media (max-width: 640px) {
  .apartment-details {
    height: 30%;
    line-height: 1.4em;
    width:75%;
    top: 40%;
  }

  .apartment-listing h1 {
    font-size: 6em;
  }
}