.apartment-listing {
	padding: 30px;
	display: block;
}
.apartment-listing-thumbail {
	display: inline-block;
	margin-bottom: 20px;
	height: 300px;
	position: relative;
}

img.apartment-listing-thumbnail {
	width: 100%;
}

.spacer {
	height: 30px;
}

.apartment-details {
	position: absolute;
	background: #222;
	color: white;
	font-size: 14px;
	opacity: .7;
	height: 25%;
	width: 60%;
	top: 40%;
	line-height: 1.3em;
	padding: 10px;
	
}
.apartment-details a {
	text-decoration: none;
}
// settings for adding bootstrap angular pagination
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

@media (max-width: 768px) {
	.apartment-details {
		top: 55%;
		line-height: 1.6em;
		font-size: 24px;
		height: 20%;
	}
}