<h1>About this project</h1>
<p>This project is courtesy of <a href="http://zyring.com">Zyring</a>.</p>
<p>The purpose of this project is to demonstrate front-end skills, specifically working with Angular. The back-end data is provided courtesy Zyring.com, but the design and implementation is my own.</p>
<p>This project utilizes a few interesting modules/libraries:</p>
<ul>
  <li>Masonry</li>
  <li>Google Maps API</li>
  <li>UI-Bootstrap</li>
  <li>ui-router</li>
</ul>
<p>The site is mobile-friendly and aims to make the apartment-finding process a little less painless.</p>

