<h1>About this project</h1>
<p>This project is courtesy of <a href="http://zyring.com">Zyring</a>.</p>
<p>The goal of this project was to gain confidence using Angular and learn more about what it has to offer. I hope to continue to improve the layout and styling of the site, but completing this project definitely cemented a lot of concepts that I was struggling to understand before I started.</p>
<h2>Other Projects</h2>
<p>You can check out my portfolio for some other projects I have worked on or contributed to. I am currently working on another Zyring project that I am excited to share.</p>
