<h1>Ashley Drake</h1>
<p>I'm a full-stack web developer, honing my skills and looking for employment.</p>
<h3>Education</h3>
<p>I'm a self-taught developer. In an age where high-quality free resources abound, there is little excuse for someone like me being able to teach themselves how to program.</p>
<p>I have spent much of my learning time doing Free Code Camp, an online bootcamp that focuses on full-stack Javascript. Through this program, I have been able to contribute to the Free Code Camp Github repo, as well as contribute a few teaching exercises.</p>
<p>I have also taken advantage of many tutorials and books available online. Check out my <a href="http://aldraco.github.io">portfolio</a> for more information.</p>
