
<div class="container">
	<h1>{{city}}</h1>
	<ui-gmap-google-map center='map.center' zoom='map.zoom'>

		<ui-gmap-markers models="markers[currentPage]" coords="'self'" idKey="'idKey'" icon="'icon'" doRebuildAll="'true'" click="'onClick'">
			<ui-gmap-windows show="show">
                <div ng-non-bindable><h2>{{title}}</h2><img src="{{thumbnail}}" class="pin-thumbnail"><h5>{{price}}</h5></div>
            </ui-gmap-windows>

		</ui-gmap-markers>
	</ui-gmap-google-map>

	<div>
		<pagination total-items="totalItems" ng-model="currentPage"></pagination>
	</div>
	<div masonry>
		<single-apartment ng-repeat="apartment in apartments[currentPage]" apartment="apartment" class="masonry-brick col-lg-4 col-md-4 col-sm-6 col-xs-12">
		</single-apartment>
	</div>

</div>

