<div class="single-apartment">
	
	<h1>{{aptInfo.title}}</h1>

	<div class="single-view-panel col-md-6 col-sm-12">
		<img ng-src="{{aptInfo.thumbnail}}" class="img-responsive col-md-12 col-sm-12 col-xs-12 thumbnail">
		<div class="spacer"></div>
		<h3>{{aptInfo.price}}</h3>	
		
	</div>

	<h3>{{aptInfo.street}} <br>{{aptInfo.city}} {{aptInfo.region}} {{aptInfo.zipcode}}</h3>

	<h4>Contact: {{aptInfo.contact}}</h4>
	<div class="">
		<p>{{aptInfo.description}}</p>	
	</div>	

	<h4 ng-click="showFeatures = (!showFeatures)" class="features-header" id="features">Features</h4>
	<div ng-show="showFeatures">
		<ul class='features-list'>
			<li ng-repeat="feature in aptInfo.features">{{feature}}</li>
		</ul>
	</div>


	<h4 ng-click="showSpecial = (!showSpecial)" class="features-header" id="special-features">Special Features</h4>
  <div ng-show="showSpecial">
  	<ul class='features-list'>
  		<li ng-repeat="feature in aptInfo.specialFeatures">{{feature}}</li>
  	</ul>
  </div>
	
	<h4 ng-click="showCommunity = (!showCommunity)" class="features-header" id="community-features">Community Features</h4>
  <div ng-show="showCommunity">
  	<ul class='features-list'>
  		<li ng-repeat="commFeature in aptInfo.communityFeatures">{{commFeature}}</li>
  	</ul>
  </div>

	<h4 ng-click="showAmenities = (!showAmenities)" class="features-header" id="features-amenities">Amenities</h4>
  <div ng-show="showAmenities">
  	<ul class='features-list'>
  		<li ng-repeat="amenity in aptInfo.amenities track by $index">{{amenity}}</li>
  	</ul>
  </div>

	
	
	<span class="hidden">{{aptInfo.detailedFloorplans}}</span>

</div>

